@tailwind base;
@tailwind components;
@tailwind utilities;



[id^=react] ~ pre {
  border-bottom: solid #61dbfb 3px;
}

.text-react {
  color: #61dbfb
}

[id^=ember] ~ pre {
  border-bottom: solid #E04E39 3px;
}

