<div class="relative isolate overflow-hidden bg-zinc-800">
  <svg class="absolute inset-0 -z-10 h-full w-full stroke-white/10 [mask-image:radial-gradient(100%_100%_at_top_right,white,transparent)]" aria-hidden="true">
    <defs>
      <pattern id="983e3e4c-de6d-4c3f-8d64-b9761d1534cc" width="200" height="200" x="50%" y="-1" patternUnits="userSpaceOnUse">
        <path d="M.5 200V.5H200" fill="none" />
      </pattern>
    </defs>
    <svg x="50%" y="-1" class="overflow-visible fill-gray-800/20">
      <path d="M-200 0h201v201h-201Z M600 0h201v201h-201Z M-400 600h201v201h-201Z M200 800h201v201h-201Z" stroke-width="0" />
    </svg>
    <rect width="100%" height="100%" stroke-width="0" fill="url(#983e3e4c-de6d-4c3f-8d64-b9761d1534cc)" />
  </svg>
  <svg viewBox="0 0 1108 632" aria-hidden="true" class="absolute top-10 left-[calc(50%-4rem)] -z-10 w-[69.25rem] max-w-none transform-gpu blur-3xl sm:left-[calc(50%-18rem)] lg:left-48 lg:top-[calc(50%-30rem)] xl:left-[calc(50%-24rem)]">
    <path fill="url(#175c433f-44f6-4d59-93f0-c5c51ad5566d)" fill-opacity=".2" d="M235.233 402.609 57.541 321.573.83 631.05l234.404-228.441 320.018 145.945c-65.036-115.261-134.286-322.756 109.01-230.655C968.382 433.026 1031 651.247 1092.23 459.36c48.98-153.51-34.51-321.107-82.37-385.717L810.952 324.222 648.261.088 235.233 402.609Z" />
    <defs>
      <linearGradient id="175c433f-44f6-4d59-93f0-c5c51ad5566d" x1="1220.59" x2="-85.053" y1="432.766" y2="638.714" gradientUnits="userSpaceOnUse">
        <stop stop-color="#E04E39" />
        <stop offset="1" stop-color="#61dbfb" />
      </linearGradient>
    </defs>
  </svg>



<div class="py-24 sm:py-32 max-w-screen-2xl mx-auto">
  <div class="mx-auto max-w-7xl px-6 lg:px-8 lg:flex">
    <div class="mx-auto max-w-2xl lg:mx-0 lg:w-1/2">
      <p class="text-lg font-semibold leading-8 tracking-tight text-zinc-400">
				Comparing Ember Octane vs React w/ hooks
			</p>
      <h2 class="mt-2 text-4xl font-bold tracking-tight text-gray-300 sm:text-6xl">Ember vs React <span class="text-zinc-500">Cheatsheet</span></h2>
      <p class="mt-6 text-md leading-8 text-gray-400">
      An opinionated site to help when learning React coming from Ember. These two javascript tools differ in many ways even to the problems they solve,
      this is meant for learning the differences between the two, and how each solves their own problems.
			</p>
    </div>
		<div class="hidden lg:block lg:w-1/2">
      <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
        <image href="/svg/ember-tomster-lockup-4c.svg" height="150" width="150" />
      </svg>
      <h3 class="italic my-0 text-6xl text-center font-serif text-zinc-200">
        Vs.
      </h3>
      <div class="flex justify-end">
        <svg width="150" height="150" xmlns="http://www.w3.org/2000/svg">
          <image href="/svg/React-icon.svg" height="150" width="150" />
        </svg>
      </div>
		</div>
  </div>
</div>
</div>